

<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="./static/images/apartments.jpg">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name: {{product.name}}</h1>
                    <h2>Type: {{product.type}}</h2>
                    <h4>Year: {{product.year}}</h4>
                    <h4>City: {{product.city}}</h4>
                    <p>Description: {{product.description}}</p>

                    <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                    
                    {{#if product.isAuthor}}
                    <a href="/products/edit/{{product._id}}" class="edit">Edit</a>
                    <a href="/products/delete/{{product._id}}" class="remove">Delete</a>
                    {{/if}}

                    
                    {{#if product.hasTenants}}
                    <p>People rented this housing: {{product.tenants}}</p>
                    {{else}}
                    <p>People rented this housing: There are no tenants yet.</p>
                    {{/if}}
                
                </div>
            </div>
            
            <div class="product-btn">
                {{#if product.isntAuthor}}
                {{#if product.alreadyRent}}
                <p class="alRentHome">You have already rent this home</p>
                {{else}}
                {{#if product.free}}
                <a href="/products/rent/{{product._id}}" class="rentHome">Rent a home, available {{product.availablePieces}} housing</a>
                {{else}}
                <p class="no-housing">No Housing Available!</p>
                {{/if}}
                {{/if}}
                {{/if}}
            </div>
            
            
        </div>
    </div>
</section>